html,body{
  overflow-x: hidden;
}
.code-border {
  background: linear-gradient(111.93deg,rgba(14,26,45,.24) -1.4%,rgba(17,30,50,.38) 104.96%);
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right bottom,#ffffff38,#ffffff00);
}

.homepage_bg {
  background:url("../src/assets/Images/frame1.svg") ;
}

/* spinner code */
.spinner {
   width: 56px;
   height: 56px;
   display: grid;
   animation: spinner-plncf9 4s infinite;
}

.spinner::before,
.spinner::after {
   content: "";
   grid-area: 1/1;
   border: 9px solid;
   border-radius: 50%;
   border-color: #0793ff #0793ff #0000 #0000;
   mix-blend-mode: darken;
   animation: spinner-plncf9 1s infinite linear;
}

.spinner::after {
   border-color: #0000 #0000 #dbdcef #dbdcef;
   animation-direction: reverse;
}

@keyframes spinner-plncf9 {
   100% {
      transform: rotate(1turn);
   }
}

.gliter-background{
   background-image: repeating-linear-gradient(358deg, rgb(0,0,0) 0px, rgb(0,0,0) 27px,transparent 27px, transparent 29px),repeating-linear-gradient(280deg, rgb(0,0,0) 0px, rgb(0,0,0) 27px,transparent 27px, transparent 29px),repeating-linear-gradient(337deg, rgb(0,0,0) 0px, rgb(0,0,0) 27px,transparent 27px, transparent 29px),linear-gradient(90deg, rgb(225, 16, 162),rgb(255,95,15));
}

.module {
   background-image: radial-gradient(circle at 100% 100%, transparent 17px, #b4eee7 17px, #b4eee7 21px, transparent 21px), linear-gradient(to right, #b4eee7, #3de8ff), radial-gradient(circle at 0% 100%, transparent 17px, #3de8ff 17px, #3de8ff 21px, transparent 21px), linear-gradient(to bottom, #3de8ff, #86eadc), radial-gradient(circle at 0% 0%, transparent 17px, #86eadc 17px, #86eadc 21px, transparent 21px), linear-gradient(to left, #86eadc, #00ffe1), radial-gradient(circle at 100% 0%, transparent 17px, #00ffe1 17px, #00ffe1 21px, transparent 21px), linear-gradient(to top, #00ffe1, #b4eee7);
   background-size: 20px 20px, calc(100% - 30px) 3px, 20px 20px, 3px calc(100% - 30px);
   background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
   background-repeat: no-repeat;
 }

 ::-webkit-scrollbar{
   width: 0.6rem;
   background:rgb(42, 56, 79);   
   /* border-radius: 100vw; */
 }

 ::-webkit-scrollbar-thumb {
   background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
   box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
   border-radius: 100vw;
 }


 .yellowButton {
   --tw-bg-opacity: 1;
   --tw-text-opacity: 1;
   background-color: rgb(255 214 10/var(--tw-bg-opacity));
   border-radius: 0.375rem;
   color: rgb(0 8 20/var(--tw-text-opacity));
   cursor: pointer;
   font-weight: 600;
   padding: 8px 20px;
 }
 
 .blackButton {
   --tw-bg-opacity: 1;
   background-color: rgb(22 29 41/var(--tw-bg-opacity));
   border-radius: 0.375rem;
   cursor: pointer;
   font-weight: 600;
   padding: 8px 20px;
 }

 .section_heading {
  --tw-text-opacity: 1;
  color: rgb(241 242 255/var(--tw-text-opacity));
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

